bind r source-file ~/.tmux.conf

set -g prefix C-b

set-option -g default-shell "/bin/zsh"
set -g base-index 1
set -g pane-base-index 1
set -g renumber-windows on

# set -g cursor-colour "{{ .colors.accent }}"
set -g prompt-cursor-colour "{{ .colors.accent }}"
set -g prompt-cursor-style bar
set -g prompt-command-cursor-style block

set -g status on
set -g status-interval 1
set -g status-style bg={{ .colors.bg }},fg={{ .colors.fg }}
set -g status-left "#[bold,fg={{ .colors.fg }},bg={{.colors.bg_alt}}][#{session_name}] #[default]"
set -g status-left-style "#[bg={{.colors.bg_alt}}]"
set -g status-left-length 0
set -g window-status-current-format "#[bold,fg={{ .colors.fg }},bg={{.colors.bg_alt}}]#I:#W#{?window_flags,#{window_flags}}#[default]"
set -g window-status-format "#[bold,bg={{.colors.bg_alt}}]#I:#W#{?window_flags,#{window_flags}}"
set -g window-status-separator "#[bg={{.colors.bg_alt}}] #[default]"
set -g status-right "#[align=left,bg={{.colors.bg_alt}}] #[fg={{.colors.bg_alt}},bg={{.colors.bg}}]◣#[default]#[bold]#[align=absolute-centre] #[fg={{.colors.bg_alt}}]◥#[bg={{.colors.bg_alt}}] #[fg={{.colors.fg}}]%H:%M #[fg={{.colors.bg_alt}},bg={{.colors.bg}}]◤#[default]#[align=right]#[fg={{.colors.bg_alt}},bg={{.colors.bg}}]◢#[default,bg={{.colors.bg_alt}}] #(echo #{session_path} | sed 's@^${HOME}@~@') "
set -g status-right-length 0

set -g pane-border-indicators colour
set -g pane-border-lines single
set -g pane-border-style fg={{ .colors.color8 }}
set -g pane-active-border-style fg={{ .colors.accent }}

set -g clock-mode-colour "{{ .colors.accent }}"

set -g message-style bg={{ .colors.bg }},fg={{ .colors.fg }},fill={{ .colors.bg }}
set -g message-command-style bg={{ .colors.bg }},fg={{ .colors.fg }},fill={{ .colors.bg }}

set -g display-panes-active-colour "{{ .colors.accent }}"
set -g display-panes-colour "{{ .colors.fg }}"
set -g display-panes-time 1500

set -g allow-passthrough on
set -g default-terminal "tmux-256color"
set -g focus-events on
set -g history-limit 50000
set -sg escape-time 0

set -g mouse on
set -g mode-keys vi
set -g status-keys vi

bind h split-window -v
bind v split-window -h

bind a attach-session -c '#{pane_current_path}'

bind -r C-h resize-pane -L 5
bind -r C-l resize-pane -R 5
bind -r C-k resize-pane -U 5
bind -r C-j resize-pane -D 5

bind -T copy-mode-vi v send -X begin-selection
bind -T copy-mode-vi y send -X copy-selection
bind -T copy-mode-vi Escape send -X cancel

bind-key -T prefix & kill-window
bind-key -T prefix x kill-pane
bind-key -T prefix K kill-pane -a
