{
  "position": "top",
  "margin": "{{ sub .gaps 1}} {{ sub .gaps 1 }} -1 {{ sub .gaps  1 }}",
  "reload_style_on_change": true,

  "modules-left": ["clock#date", "clock#time", "mpd"],
  "modules-center": ["hyprland/workspaces"],
  "modules-right": [
    "hyprland/submap",
    "tray",
    "pulseaudio",
    "battery",
    "custom/language",
    "network",
    "custom/notification",
  ],
  "clock#date": {
    "tooltip": false,
    "format": "{:%y-%m-%d %a}",
  },
  "clock#time": {
    "tooltip": false,
    "format": "{:%H:%M}",
  },
  "mpd": {
    "tooltip": false,
    "format": "MPD ",
    "format-paused": "MPD ",
    "format-stopped": "MPD ",
    "format-disconnected": "",
    "on-click": "rmpc togglepause",
    "on-click-right": "hyprctl clients | grep -q 'title: rmpc$' && hyprctl dispatch focuswindow title:^rmpc$ || kitty -e rmpc",
    "on-scroll-up": "rmpc volume -5",
    "on-scroll-down": "rmpc volume +5",
  },

  "hyprland/workspaces": {
    "active-only": false,
    "format": "",
    "persistent-workspaces": { "*": 5 },
  },

  "hyprland/submap": {
    "tooltip": false,
    "format": "󱂬 {}",
  },
  "tray": {
    "icon-size": 14,
    "spacing": 4,
  },
  "pulseaudio": {
    "tooltip": false,
    "format": "  {volume:02}",
    "format-muted": "  {volume:02}",
    "scroll-step": 5,
    "on-click": "hyprctl clients | grep -q 'title: pulsemixer$' && hyprctl dispatch focuswindow title:^pulsemixer$ || kitty -e pulsemixer",
  },
  "network": {
    "tooltip": true,
    "tooltip-format": "{ifname}",
    "tooltip-format-wifi": "{essid} ({signalStrength}%) ",
    "tooltip-format-ethernet": "{ifname} ",
    "tooltip-format-disconnected": "Disconnected",
    "interval": 5,
    "format-wifi": "  {signalStrength:02}",
    "format-ethernet": "󰈀 ON",
    "format-disconnected": "󰖪  00",
    "on-click": "hyprctl clients | grep -q 'title: iwctl' && hyprctl dispatch focuswindow title:^iwctl$ || kitty -e iwctl",
  },
  "battery": {
    "tooltip": true,
    "interval": 5,
    "full-at": 95,
    "format": "{icon} {capacity}",
    "format-charging": "{icon} {capacity}⬆",
    "format-icons": ["", "", "", "", ""],
  },
  "custom/language": {
    "tooltip": false,
    "exec": "~/.config/waybar/script/layout.sh",
    "signal": 1,
  },
  "custom/notification": {
    "tooltip": false,
    "format": "{icon}",
    "format-icons": {
      "notification": "󰂚",
      "none": "",
      "dnd-notification": "󰂛",
      "dnd-none": "",
      "inhibited-notification": "󰂚",
      "inhibited-none": "",
      "dnd-inhibited-notification": "󰂛",
      "dnd-inhibited-none": "",
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true,
  },
}
