{
  "position": "top",
  "margin": "0 0 -1 0",
  "reload_style_on_change": true,

  "modules-left": ["clock#date", "clock#time", "mpd"],
  "modules-center": ["hyprland/workspaces"],
  "modules-right": [
    "hyprland/submap",
    "tray",
    "pulseaudio",
    "battery",
    "network",
    "custom/notification",
  ],
  "clock#date": {
    "tooltip": false,
    "format": "{:%y-%m-%d %a}",
  },
  "clock#time": {
    "tooltip": false,
    "format": "{:%H:%M}",
  },
  "mpd": {
    "tooltip": false,
    "format": "MPD:PLY",
    "format-paused": "MPD:PSD",
    "format-stopped": "MPD:STP",
    "format-disconnected": "MPD:---",
    "on-click": "rmpc togglepause",
    "on-click-right": "",
    "on-scroll-up": "rmpc volume -5",
    "on-scroll-down": "rmpc volume +5",
  },

  "hyprland/workspaces": {
    "active-only": false,
    "format": "",
    "persistent-workspaces": { "*": {{ .workspaces }} },
  },

  "hyprland/submap": {
    "tooltip": false,
    "format": "MAP:{}",
  },
  "tray": {
    "icon-size": 14,
    "spacing": 4,
  },
  "pulseaudio": {
    "tooltip": false,
    "format": "VOL:{volume:02}",
    "format-muted": "MUT:{volume:02}",
    "scroll-step": 5,
    "on-click": "",
  },
  "network": {
    "tooltip": true,
    "tooltip-format": "{ifname}",
    "tooltip-format-wifi": "{essid} ({signalStrength:02}%)",
    "tooltip-format-ethernet": "{ifname}",
    "tooltip-format-disconnected": "Disconnected",
    "interval": 5,
    "format-wifi": "NET:{signalStrength:02}",
    "format-ethernet": "NET:ON",
    "format-disconnected": "NET:--",
    "on-click": "",
  },
  "battery": {
    "tooltip": true,
    "interval": 5,
    "full-at": 95,
    "format": "BAT:{capacity:02}",
    "format-charging": "BAT:{capacity:02}{icon}",
    "format-icons": [""],
  },
  "custom/notification": {
    "tooltip": false,
    "format": "{icon}",
    "format-icons": {
      "notification": "!",
      "none": "-",
      "dnd-notification": "!",
      "dnd-none": "-",
      "inhibited-notification": "!",
      "inhibited-none": "-",
      "dnd-inhibited-notification": "!",
      "dnd-inhibited-none": "-",
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true,
  },
}
