* {
  margin: 0;
  padding: 0;
}
#waybar {
  background: rgba(40, 40, 50, 0.9);
  color: #ffffff;
  font-family: "Ubuntu Nerd Font";
  font-weight: bold;
  font-size: 12px;
  border: 1px double rgba(255, 255, 255, 0.8);
  border-radius: 4px;
}

.modules-left > * > * {
  margin: 4 0 4 4;
  padding: 0 4 0 4;
  background: inherit;
  background: rgba(0, 0, 0, 0.3);
  border: 1px double rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

#workspaces {
  background: inherit;
  font-size: 14px;
}
#workspaces button,
#workspaces button.empty {
  background: inherit;
  border: none;
  box-shadow: none;
  color: rgba(100, 100, 100, 1);
  outline: none;
  text-shadow: none;
  min-width: 24px;
  min-height: 24px;
  border-radius: 0;
}
#workspaces button.active {
  background: rgba(175, 175, 175, 0.2);
}
#workspaces button {
  color: #ffffff;
}

.modules-right > * > * {
  margin: 4 4 4 0;
  padding: 0 4 0 4;
  background: inherit;
  background: rgba(0, 0, 0, 0.3);
  border: 1px double rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}
