* {
  margin: 0;
  padding: 0;
}

#waybar {
  background: rgba(36, 36, 36, 1);
  color: #deddda;
  font-family: "Ubuntu Nerd Font";
  font-weight: bold;
  font-size: 12px;
  border: 1px double rgba(154, 153, 150, 0.6);
  border-radius: 4px;
}

.modules-left > * > *,
.modules-right > * > * {
  padding: 0 4 0 4;
  background: rgba(36, 36, 36, 0.95);
  border: 1px double rgba(154, 153, 150, 1);
  border-radius: 4px;
}

.modules-left > * > * {
  margin: 4 0 4 4;
}
.modules-right > * > * {
  margin: 4 4 4 0;
}

#workspaces {
  background: inherit;
  font-size: 14px;
}
#workspaces button,
#workspaces button.empty {
  background: inherit;
  border: none;
  box-shadow: none;
  color: rgba(176, 175, 172, 1);
  outline: none;
  text-shadow: none;
  min-width: 24px;
  min-height: 24px;
  border-radius: 0;
}
#workspaces button.active {
  color: #fcfcfc;
}
