* {
  font-family: "Ubuntu Nerd Font";
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  transition: all 120ms ease-in-out;
  box-shadow: none;
}

tooltip {
  background: {{ .hex.bg }};
  color: {{ .hex.fg }};
  border: 1px solid {{ .hex.border }};
  border-radius: {{ .rounding }};
}

.modules-left > * > *,
.modules-right > * > * {
  background: {{ .hex.bg }};
  border: 1px solid {{ .hex.border }};
}
#waybar {
  background-color: rgba({{ .rgb.bg }}, 0.95);
  color: {{ .hex.fg }};
  border-radius: 0;
}

.modules-left > * > *,
.modules-right > * > * {
  padding: 0 4px;
  border-radius: {{ .rounding }};
}
.modules-left > * > * {
  margin: 4px 0px 4px 4px;
}
.modules-right > * > * {
  margin: 4px 4px 4px 0;
}

#workspaces {
  background: inherit;
}
#workspaces button {
  background: {{ .hex.bg_alt }};
  color: {{ .hex.fg }};
  border: 1px solid {{ .hex.border }};
  box-shadow: none;
  outline: none;
  text-shadow: none;
  margin: 4px 2px;
  min-height: 0px;
  min-width: 24px;
  border-radius: {{ .rounding }};
}
#workspaces button.empty {
  background: transparent;
}
#workspaces button.visible {
  background: {{ .hex.bg_alt }};
}
#workspaces button.active {
  background: {{ .hex.border }};
}

#tray menu {
  border: 1px solid {{ .hex.border }};
  border-radius: {{ .rounding }};
  box-shadow: none;
  padding: 2px;
}
#tray menuitem {
  background: {{ .hex.bg }};
  padding: 2px 0px;
}
#tray menuitem:hover {
  background: {{ .hex.bg_alt }};
}
