* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11.5px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  transition: all 120ms ease-in-out;
  box-shadow: none;
}

tooltip {
  background: {{ .colors.bg }};
  color: {{ .colors.fg }};
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }}px;
}

#waybar {
  background-color: alpha({{ .colors.bg }}, 0.5);
  border-radius: {{ .rounding }}px;
}
#waybar > * {
  background-color: {{ .colors.bg }};
  margin: 1px;
  color: {{ .colors.fg }};
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }}px;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  padding: 0 6px;
}

.modules-left > * > *,
.modules-right > * > * {
  border-radius: {{ .rounding }}px;
  background: {{ .colors.bg }};
}
.modules-left > * > * {
  margin: 2px 8px 2px 0px;
}
.modules-right > * > * {
  margin: 2px 0px 2px 8px;
}

#workspaces {
  background: inherit;
}
#workspaces button {
  background: {{ .colors.bg_alt }};
  color: {{ .colors.fg }};
  border: 1px solid {{ .colors.border }};
  box-shadow: none;
  outline: none;
  text-shadow: none;
  margin: 2px 2px;
  min-height: 0px;
  min-width: 28px;
  border-radius: {{ .rounding }}px;
}
#workspaces button.empty {
  background: transparent;
}
#workspaces button.visible {
  background: {{ .colors.bg_alt }};
}
#workspaces button.active {
  background: {{ .colors.border }};
}

#tray menu {
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }}px;
  box-shadow: none;
  padding: 2px;
}
#tray menuitem {
  background: {{ .colors.bg }};
  padding: 2px 0px;
}
#tray menuitem:hover {
  background: {{ .colors.bg_alt }};
}

#custom-notification {
  color: {{ .colors.fg }};
}

#custom-notification.notification {
  color: {{ .colors.fg }};
}

#custom-notification.dnd-notification,
#custom-notification.dnd-none {
  color: {{ .colors.color8 }};
}
