# vim:ft=kitty

background                {{ .colors.bg }}
foreground                {{ .colors.fg }}

selection_background      {{ .colors.bg_alt }}
selection_foreground      {{ .colors.color7 }}

url_color                 {{ .colors.color4 }}

wayland_titlebar_color    system
macos_titlebar_color      system

cursor                    {{ .colors.fg }}
cursor_text_color         {{ .colors.bg }}

active_border_color       {{ .colors.color8 }}
inactive_border_color     {{ .colors.color0 }}
bell_border_color         {{ .colors.color1 }}
visual_bell_color         none

active_tab_background     {{ .colors.bg_alt }} 
active_tab_foreground     {{ .colors.color7 }}
inactive_tab_background   {{ .colors.bg_alt }}
inactive_tab_foreground   {{ .colors.color8 }}
tab_bar_background        none
tab_bar_margin_color      none

color0                    {{ .colors.color0 }}
color1                    {{ .colors.color1 }}
color2                    {{ .colors.color2 }}
color3                    {{ .colors.color3 }}
color4                    {{ .colors.color4 }}
color5                    {{ .colors.color5 }}
color6                    {{ .colors.color6 }}
color7                    {{ .colors.color7 }}

color8                    {{ .colors.color8 }}
color9                    {{ .colors.color9 }}
color10                   {{ .colors.color10 }}
color11                   {{ .colors.color11 }}
color12                   {{ .colors.color12 }}
color13                   {{ .colors.color13 }}
color14                   {{ .colors.color14 }}
color15                   {{ .colors.color15 }}
