# vim:ft=kitty

background                {{ .hex.bg }}
foreground                {{ .hex.fg }}

selection_background      {{ .hex.bg_alt }}
selection_foreground      {{ .hex.color7 }}

url_color                 {{ .hex.color4 }}

wayland_titlebar_color    system
macos_titlebar_color      system

cursor                    {{ .hex.fg }}
cursor_text_color         {{ .hex.bg }}

active_border_color       {{ .hex.color8 }}
inactive_border_color     {{ .hex.color0 }}
bell_border_color         {{ .hex.color1 }}
visual_bell_color         none

active_tab_background     {{ .hex.bg_alt }} 
active_tab_foreground     {{ .hex.color7 }}
inactive_tab_background   {{ .hex.bg_alt }}
inactive_tab_foreground   {{ .hex.color8 }}
tab_bar_background        none
tab_bar_margin_color      none

color0                    {{ .hex.color0 }}
color1                    {{ .hex.color1 }}
color2                    {{ .hex.color2 }}
color3                    {{ .hex.color3 }}
color4                    {{ .hex.color4 }}
color5                    {{ .hex.color5 }}
color6                    {{ .hex.color6 }}
color7                    {{ .hex.color7 }}

color8                    {{ .hex.color8 }}
color9                    {{ .hex.color9 }}
color10                   {{ .hex.color10 }}
color11                   {{ .hex.color11 }}
color12                   {{ .hex.color12 }}
color13                   {{ .hex.color13 }}
color14                   {{ .hex.color14 }}
color15                   {{ .hex.color15 }}
