return {
    gaps       = {{ .gaps }},
    rounding   = {{ .rounding }},
    workspaces = {{ .workspaces }},
    chassis    = "{{ includeTemplate "chassis" .}}",
    colors = {
        border = "{{ .colors.border }}",
        bg      = "{{ .colors.bg }}",
        bg_alt  = "{{ .colors.bg_alt }}",
    },
}
