monitor = ,preferred,auto,1

$terminal = kitty
$menu = rofi
$bar = waybar
$browser = firefox

exec-once = thunar --daemon
exec-once = ~/.config/hypr/script/wallpaper_selector.sh
exec-once = wlsunset -l 48.9 -L 2.5
exec-once = hypridle
exec-once = swaync
exec-once = discord --start-minimized
exec-once = $bar
exec-once = mpc random on & mpc repeat on

exec-once = [ workspace 1 silent ] firefox
exec-once = [ workspace 1 silent ] $terminal


exec = rm "/tmp/hypr_all_opaque" #should be removed once "https://github.com/hyprwm/Hyprland/pull/14157" is merged

env = XCURSOR_SIZE,24
env = HYPRCURSOR_SIZE,24
env = XDG_CURRENT_DESKTOP,Hyprland

general {
    gaps_in = {{ div .gaps 2 }}px
    gaps_out = {{ .gaps }}px
    float_gaps = {{ .gaps }}px
    border_size = 1
    col.active_border = rgba({{ .colors.border | trimPrefix "#" }}ff)
    col.inactive_border = rgba({{ .colors.bg_alt | trimPrefix "#" }}ff)
    resize_on_border = false
    allow_tearing = false
    layout = dwindle
}

cursor {
        inactive_timeout = 3
}

decoration {
    rounding = {{ .rounding }}
    active_opacity = 0.95
    inactive_opacity = 0.925
    blur {
        enabled = false
        size = 2
        passes = 2
        vibrancy = 0.1696
    }
    shadow {
        enabled = true
        range = 1
        sharp = true
        color = rgba({{ .colors.bg | trimPrefix "#" }}80)
    }
}

animations {
    enabled = true
    bezier = fast, 0.33, 1, 0.68, 1
    animation = windows, 1, 3, fast, slide
    animation = windowsOut, 1, 3, fast, slide
    animation = border, 1, 2, fast
    animation = fade, 1, 2, fast
    animation = workspaces, 1, 3, fast, slide
    animation = layers, 1, 3, fast, popin 95%
}

dwindle {
    pseudotile = false
    preserve_split = true
    force_split = 2
}

master {
    new_status = slave
}

misc {
    force_default_wallpaper = 0
    disable_hyprland_logo = true
}

input {
    kb_layout = us, fr, pl
    kb_variant =
    kb_model =
    kb_options = caps:none
    kb_rules =
    follow_mouse = 2
    sensitivity = 0
    numlock_by_default = true
    touchpad {
        natural_scroll = true
        disable_while_typing = true
    }
    touchdevice {
            enabled = true
    }
}

xwayland {
    force_zero_scaling = true
}

device {
    name = epic-mouse-v1
    sensitivity = -0.5
}

ecosystem {
        no_update_news = true
}

$mainMod = SUPER

bind = $mainMod, e, exec, $menu -show drun
bind = $mainMod, r, exec, ~/.config/hypr/script/wallpaper_selector.sh select
bind = $mainMod, w, exec, $menu -show window
bind = $mainMod, q, exec, $terminal
bind = $mainMod, o, exec, hyprctl dispatch setprop "address:$(hyprctl activewindow -j | jq -r .address)" opaque toggle
bind = $mainMod SHIFT, o, exec, ~/.config/hypr/script/toggle_opaque.sh
bind = $mainMod, m, exec, loginctl lock-session
bind = $mainMod SHIFT, n, exec, swaync-client -t -sw

bind =  ALT, Shift_L, exec, hyprctl switchxkblayout all next & pkill -RTMIN+1 $bar
bind = , code:121, exec, wpctl set-mute @DEFAULT_SINK@ toggle
binde = , code:122, exec, wpctl set-volume @DEFAULT_SINK@ 5%-
binde = , code:123, exec, wpctl set-volume @DEFAULT_SINK@ 5%+
binde = , code:232, exec, brightnessctl s 10%-
binde = , code:233, exec, brightnessctl s 10%+
bind = , code:107, exec, ~/.config/hypr/script/screenshot.sh

bind = $mainMod, f, fullscreen, 1
bind = $mainMod SHIFT, f, fullscreen, 0
bind = $mainMod, c, killactive
bind = $mainMod, s, layoutmsg, togglesplit
bind = $mainMod SHIFT, m, exec, hyprctl dispatch exit
bind = $mainMod SHIFT, p, pin
bind = $mainMod SHIFT, c, centerwindow
bind = $mainMod CTRL, f, togglefloating

binde = $mainMod, code:20, resizeactive, -1% 0
binde = $mainMod, code:21, resizeactive, 1% 0
binde = $mainMod SHIFT, code:20, resizeactive, 0 -1%
binde = $mainMod SHIFT, code:21, resizeactive, 0 1%

{{- $keys := dict "h" "l" "l" "r" "k" "u" "j" "d" }}
{{range $key, $direction := $keys }}
bind = $mainMod, {{ $key }}, movefocus, {{ $direction }}
bind = $mainMod SHIFT, {{ $key }}, swapwindow, {{ $direction }}
bind = $mainMod CTRL, {{ $key }}, movewindow, {{ $direction }}
{{- end}}
bind = $mainMod, n, cyclenext
bind = $mainMod, p, cyclenext, prev
{{ range $i := untilStep 1 (int (add (int .workspaces) 1)) 1 }}
bind = $mainMod, {{ $i }}, workspace, {{ $i }}
bind = $mainMod SHIFT, {{ $i }}, movetoworkspace, {{ $i }}
bind = $mainMod CTRL, {{ $i }}, movetoworkspacesilent, {{ $i }}
{{- end}}
bind = $mainMod, TAB, exec, ~/.config/hypr/script/workspace_cycle.sh next {{ .workspaces }}
bind = $mainMod SHIFT, TAB, exec, ~/.config/hypr/script/workspace_cycle.sh prev {{ .workspaces }}

bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow

windowrule = opacity 1 override, match:class krita
windowrule = opacity 1 override, match:title .*YouTube.*
windowrule = opacity 1 override, match:title mpv.*

windowrule {
  name = all-opaque
  enable = 0
  match:class = .*
  opacity = 1 override
}

layerrule = dim_around on, match:namespace $menu
layerrule = dim_around on, match:namespace swaync-control-center
layerrule = animation slide slow, match:namespace $bar
layerrule = animation slide right, match:namespace swaync-control-center
