[flavor]
dark = ""
light = ""

[app]
overall = { fg = "{{ .colors.fg }}", bg = "{{ .colors.bg }}" }

[mgr]
cwd = { fg = "{{ .colors.accent }}" }
find_keyword = { fg = "{{ .colors.color3 }}", bold = true, italic = true, underline = true }
find_position = { fg = "{{ .colors.color5 }}", bg = "reset", bold = true, italic = true }
symlink_target = { italic = true, fg = "{{ .colors.color6 }}" }
marker_copied = { fg = "{{ .colors.color2 }}", bg = "{{ .colors.color2 }}" }
marker_cut = { fg = "{{ .colors.color1 }}", bg = "{{ .colors.color1 }}" }
marker_marked = { fg = "{{ .colors.color6 }}", bg = "{{ .colors.color6 }}" }
marker_selected = { fg = "{{ .colors.color3 }}", bg = "{{ .colors.color3 }}" }
count_copied = { fg = "{{ .colors.bg }}", bg = "{{ .colors.color2 }}" }
count_cut = { fg = "{{ .colors.bg }}", bg = "{{ .colors.color1 }}" }
count_selected = { fg = "{{ .colors.bg }}", bg = "{{ .colors.color3 }}" }
border_symbol = "│"
border_style = { fg = "{{ .colors.border }}" }
syntect_theme = ""

[tabs]
active = { fg = "{{ .colors.bg }}", bg = "{{ .colors.accent }}", bold = true }
inactive = { fg = "{{ .colors.fg }}", bg = "{{ .colors.bg_alt }}" }
sep_inner = { open = " ", close = " " }
sep_outer = { open = "◥", close = "◣" }

[mode]
normal_main = { fg = "{{ .colors.bg }}", bg = "{{ .colors.accent }}", bold = true }
normal_alt = { fg = "{{ .colors.accent }}", bg = "{{ .colors.bg_alt }}" }
select_main = { fg = "{{ .colors.bg }}", bg = "{{ .colors.color2 }}", bold = true }
select_alt = { fg = "{{ .colors.color2 }}", bg = "{{ .colors.bg_alt }}" }
unset_main = { fg = "{{ .colors.bg }}", bg = "{{ .colors.color1 }}", bold = true }
unset_alt = { fg = "{{ .colors.color1 }}", bg = "{{ .colors.color1 }}" }

[indicator]
parent = { reversed = true }
current = { reversed = true }
preview = { underline = true }
padding = { open = "◥█", close = "█◣" }

[status]
overall = { fg = "{{ .colors.fg }}", bg = "{{ .colors.bg }}" }
sep_left = { open = "", close = "◣" }
sep_right = { open = "", close = "" }
perm_sep = { fg = "{{ .colors.color8 }}" }
perm_type = { fg = "{{ .colors.accent }}" }
perm_read = { fg = "{{ .colors.color3 }}" }
perm_write = { fg = "{{ .colors.color1 }}" }
perm_exec = { fg = "{{ .colors.color2 }}" }
progress_label = { bold = true }
progress_normal = { fg = "{{ .colors.accent }}", bg = "{{ .colors.bg_alt }}" }
progress_error = { fg = "{{ .colors.color1 }}", bg = "{{ .colors.bg_alt }}" }

[which]
cols = 3
mask = { bg = "{{ .colors.bg }}" }
cand = { fg = "{{ .colors.accent }}" }
rest = { fg = "{{ .colors.color8 }}" }
desc = { fg = "{{ .colors.color5 }}" }
separator = "  "
separator_style = { fg = "{{ .colors.color8 }}" }

[confirm]
border = { fg = "{{ .colors.accent }}" }
title = { fg = "{{ .colors.accent }}" }
body = {}
list = {}
btn_yes = { reversed = true }
btn_no = {}
btn_labels = ["  [Y]es  ", "  (N)o  "]

[spot]
border = { fg = "{{ .colors.accent }}" }
title = { fg = "{{ .colors.accent }}" }
tbl_col = { fg = "{{ .colors.accent }}" }
tbl_cell = { fg = "{{ .colors.color3 }}", reversed = true }

[notify]
title_info = { fg = "{{ .colors.color2 }}" }
title_warn = { fg = "{{ .colors.color3 }}" }
title_error = { fg = "{{ .colors.color1 }}" }
icon_info = ""
icon_warn = ""
icon_error = ""

[pick]
border = { fg = "{{ .colors.accent }}" }
active = { fg = "{{ .colors.color5 }}", bold = true }
inactive = {}

[input]
border = { fg = "{{ .colors.accent }}" }
title = {}
value = {}
selected = { reversed = true }

[cmp]
border = { fg = "{{ .colors.accent }}" }
active = { reversed = true }
inactive = {}
icon_file = ""
icon_folder = ""
icon_command = ""

[tasks]
border = { fg = "{{ .colors.accent }}" }
title = {}
hovered = { fg = "{{ .colors.color5 }}", bold = true }

[help]
on = { fg = "{{ .colors.accent }}" }
run = { fg = "{{ .colors.color5 }}" }
desc = {}
hovered = { reversed = true, bold = true }
footer = { fg = "{{ .colors.bg }}", bg = "{{ .colors.fg }}" }

[filetype]
rules = [
  { mime = "image/*", fg = "{{ .colors.color3 }}" },
  { mime = "{audio,video}/*", fg = "{{ .colors.color5 }}" },
  { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", fg = "{{ .colors.color1 }}" },
  { mime = "application/{pdf,doc,rtf}", fg = "{{ .colors.color6 }}" },
  { mime = "vfs/{absent,stale}", fg = "{{ .colors.color8 }}" },
  { url = "*", is = "orphan", bg = "reset" },
  { url = "*", is = "exec", fg = "{{ .colors.color2 }}" },
  { url = "*", is = "dummy", bg = "{{ .colors.color1 }}" },
  { url = "*/", is = "dummy", bg = "{{ .colors.color1 }}" },
  { url = "*/", fg = "{{ .colors.accent }}" }
]

[icon]
globs = []
dirs = [
  { name = ".config", text = "", fg = "{{ .colors.color3 }}" },
  { name = ".git", text = "", fg = "{{ .colors.color6 }}" },
  { name = ".github", text = "", fg = "{{ .colors.accent }}" },
  { name = ".npm", text = "", fg = "{{ .colors.accent }}" },
  { name = "Desktop", text = "", fg = "{{ .colors.accent }}" },
  { name = "Development", text = "", fg = "{{ .colors.accent }}" },
  { name = "Documents", text = "", fg = "{{ .colors.accent }}" },
  { name = "Downloads", text = "", fg = "{{ .colors.accent }}" },
  { name = "Library", text = "", fg = "{{ .colors.accent }}" },
  { name = "Movies", text = "", fg = "{{ .colors.accent }}" },
  { name = "Music", text = "", fg = "{{ .colors.accent }}" },
  { name = "Pictures", text = "", fg = "{{ .colors.accent }}" },
  { name = "Public", text = "", fg = "{{ .colors.accent }}" },
  { name = "Videos", text = "", fg = "{{ .colors.accent }}" },
]
files = [
  { name = ".babelrc", text = "", fg = "{{ .colors.color3 }}" },
  { name = ".bash_profile", text = "", fg = "{{ .colors.color2 }}" },
  { name = ".bashrc", text = "", fg = "{{ .colors.color2 }}" },
  { name = ".clang-format", text = "", fg = "{{ .colors.color8 }}" },
  { name = ".clang-tidy", text = "", fg = "{{ .colors.color8 }}" },
  { name = ".codespellrc", text = "󰓆", fg = "{{ .colors.color2 }}" },
  { name = ".condarc", text = "", fg = "{{ .colors.color2 }}" },
  { name = ".dockerignore", text = "󰡨", fg = "{{ .colors.color4 }}" },
  { name = ".ds_store", text = "", fg = "{{ .colors.color8 }}" },
  { name = ".editorconfig", text = "", fg = "{{ .colors.fg }}" },
  { name = ".env", text = "", fg = "{{ .colors.color3 }}" },
  { name = ".eslintignore", text = "", fg = "{{ .colors.color5 }}" },
  { name = ".eslintrc", text = "", fg = "{{ .colors.color5 }}" },
  { name = ".git-blame-ignore-revs", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".gitattributes", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".gitconfig", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".gitignore", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".gitlab-ci.yml", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".gitmodules", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".gtkrc-2.0", text = "", fg = "{{ .colors.fg }}" },
  { name = ".gvimrc", text = "", fg = "{{ .colors.color2 }}" },
  { name = ".justfile", text = "", fg = "{{ .colors.color8 }}" },
  { name = ".luacheckrc", text = "", fg = "{{ .colors.accent }}" },
  { name = ".luaurc", text = "", fg = "{{ .colors.accent }}" },
  { name = ".mailmap", text = "󰊢", fg = "{{ .colors.color1 }}" },
  { name = ".nanorc", text = "", fg = "{{ .colors.color5 }}" },
  { name = ".npmignore", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".npmrc", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".nuxtrc", text = "󱄆", fg = "{{ .colors.color6 }}" },
  { name = ".nvmrc", text = "", fg = "{{ .colors.color2 }}" },
  { name = ".pnpmfile.cjs", text = "", fg = "{{ .colors.color3 }}" },
  { name = ".pre-commit-config.yaml", text = "󰛢", fg = "{{ .colors.color3 }}" },
  { name = ".prettierignore", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".prettierrc", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".prettierrc.cjs", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".prettierrc.js", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".prettierrc.json", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".prettierrc.json5", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".prettierrc.mjs", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".prettierrc.toml", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".prettierrc.yaml", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".prettierrc.yml", text = "", fg = "{{ .colors.color4 }}" },
  { name = ".pylintrc", text = "", fg = "{{ .colors.color8 }}" },
  { name = ".settings.json", text = "", fg = "{{ .colors.color5 }}" },
  { name = ".SRCINFO", text = "󰣇", fg = "{{ .colors.accent }}" },
  { name = ".vimrc", text = "", fg = "{{ .colors.color2 }}" },
  { name = ".Xauthority", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".xinitrc", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".Xresources", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".xsession", text = "", fg = "{{ .colors.color1 }}" },
  { name = ".zprofile", text = "", fg = "{{ .colors.color2 }}" },
  { name = ".zshenv", text = "", fg = "{{ .colors.color2 }}" },
  { name = ".zshrc", text = "", fg = "{{ .colors.color2 }}" },
  { name = "_gvimrc", text = "", fg = "{{ .colors.color2 }}" },
  { name = "_vimrc", text = "", fg = "{{ .colors.color2 }}" },
  { name = "AUTHORS", text = "", fg = "{{ .colors.color5 }}" },
  { name = "AUTHORS.txt", text = "", fg = "{{ .colors.color5 }}" },
  { name = "brewfile", text = "", fg = "{{ .colors.color1 }}" },
  { name = "bspwmrc", text = "", fg = "{{ .colors.color8 }}" },
  { name = "build", text = "", fg = "{{ .colors.color2 }}" },
  { name = "build.gradle", text = "", fg = "{{ .colors.accent }}" },
  { name = "build.zig.zon", text = "", fg = "{{ .colors.color3 }}" },
  { name = "bun.lock", text = "", fg = "{{ .colors.fg }}" },
  { name = "bun.lockb", text = "", fg = "{{ .colors.fg }}" },
  { name = "cantorrc", text = "", fg = "{{ .colors.accent }}" },
  { name = "checkhealth", text = "󰓙", fg = "{{ .colors.accent }}" },
  { name = "cmakelists.txt", text = "", fg = "{{ .colors.color8 }}" },
  { name = "code_of_conduct", text = "", fg = "{{ .colors.color1 }}" },
  { name = "code_of_conduct.md", text = "", fg = "{{ .colors.color1 }}" },
  { name = "commit_editmsg", text = "", fg = "{{ .colors.color1 }}" },
  { name = "commitlint.config.js", text = "󰜘", fg = "{{ .colors.color6 }}" },
  { name = "commitlint.config.ts", text = "󰜘", fg = "{{ .colors.color6 }}" },
  { name = "compose.yaml", text = "󰡨", fg = "{{ .colors.color4 }}" },
  { name = "compose.yml", text = "󰡨", fg = "{{ .colors.color4 }}" },
  { name = "config", text = "", fg = "{{ .colors.color8 }}" },
  { name = "containerfile", text = "󰡨", fg = "{{ .colors.color4 }}" },
  { name = "copying", text = "", fg = "{{ .colors.color3 }}" },
  { name = "copying.lesser", text = "", fg = "{{ .colors.color3 }}" },
  { name = "Directory.Build.props", text = "", fg = "{{ .colors.accent }}" },
  { name = "Directory.Build.targets", text = "", fg = "{{ .colors.accent }}" },
  { name = "Directory.Packages.props", text = "", fg = "{{ .colors.accent }}" },
  { name = "docker-compose.yaml", text = "󰡨", fg = "{{ .colors.color4 }}" },
  { name = "docker-compose.yml", text = "󰡨", fg = "{{ .colors.color4 }}" },
  { name = "dockerfile", text = "󰡨", fg = "{{ .colors.color4 }}" },
  { name = "eslint.config.cjs", text = "", fg = "{{ .colors.color5 }}" },
  { name = "eslint.config.js", text = "", fg = "{{ .colors.color5 }}" },
  { name = "eslint.config.mjs", text = "", fg = "{{ .colors.color5 }}" },
  { name = "eslint.config.ts", text = "", fg = "{{ .colors.color5 }}" },
  { name = "ext_typoscript_setup.txt", text = "", fg = "{{ .colors.color3 }}" },
  { name = "favicon.ico", text = "", fg = "{{ .colors.color3 }}" },
  { name = "fp-info-cache", text = "", fg = "{{ .colors.fg }}" },
  { name = "fp-lib-table", text = "", fg = "{{ .colors.fg }}" },
  { name = "FreeCAD.conf", text = "", fg = "{{ .colors.color1 }}" },
  { name = "Gemfile", text = "", fg = "{{ .colors.color1 }}" },
  { name = "gnumakefile", text = "", fg = "{{ .colors.color8 }}" },
  { name = "go.mod", text = "", fg = "{{ .colors.accent }}" },
  { name = "go.sum", text = "", fg = "{{ .colors.accent }}" },
  { name = "go.work", text = "", fg = "{{ .colors.accent }}" },
  { name = "gradle-wrapper.properties", text = "", fg = "{{ .colors.accent }}" },
  { name = "gradle.properties", text = "", fg = "{{ .colors.accent }}" },
  { name = "gradlew", text = "", fg = "{{ .colors.accent }}" },
  { name = "groovy", text = "", fg = "{{ .colors.accent }}" },
  { name = "gruntfile.babel.js", text = "", fg = "{{ .colors.color3 }}" },
  { name = "gruntfile.coffee", text = "", fg = "{{ .colors.color3 }}" },
  { name = "gruntfile.js", text = "", fg = "{{ .colors.color3 }}" },
  { name = "gruntfile.ts", text = "", fg = "{{ .colors.color3 }}" },
  { name = "gtkrc", text = "", fg = "{{ .colors.fg }}" },
  { name = "gulpfile.babel.js", text = "", fg = "{{ .colors.color1 }}" },
  { name = "gulpfile.coffee", text = "", fg = "{{ .colors.color1 }}" },
  { name = "gulpfile.js", text = "", fg = "{{ .colors.color1 }}" },
  { name = "gulpfile.ts", text = "", fg = "{{ .colors.color1 }}" },
  { name = "hypridle.conf", text = "", fg = "{{ .colors.accent }}" },
  { name = "hyprland.conf", text = "", fg = "{{ .colors.accent }}" },
  { name = "hyprlandd.conf", text = "", fg = "{{ .colors.accent }}" },
  { name = "hyprpaper.conf", text = "", fg = "{{ .colors.accent }}" },
  { name = "hyprsunset.conf", text = "", fg = "{{ .colors.accent }}" },
  { name = "i18n.config.js", text = "󰗊", fg = "{{ .colors.color5 }}" },
  { name = "i18n.config.ts", text = "󰗊", fg = "{{ .colors.color5 }}" },
  { name = "i3blocks.conf", text = "", fg = "{{ .colors.fg }}" },
  { name = "i3status.conf", text = "", fg = "{{ .colors.fg }}" },
  { name = "index.theme", text = "", fg = "{{ .colors.color2 }}" },
  { name = "ionic.config.json", text = "", fg = "{{ .colors.color4 }}" },
  { name = "Jenkinsfile", text = "", fg = "{{ .colors.color1 }}" },
  { name = "justfile", text = "", fg = "{{ .colors.color8 }}" },
  { name = "kalgebrarc", text = "", fg = "{{ .colors.accent }}" },
  { name = "kdeglobals", text = "", fg = "{{ .colors.accent }}" },
  { name = "kdenlive-layoutsrc", text = "", fg = "{{ .colors.accent }}" },
  { name = "kdenliverc", text = "", fg = "{{ .colors.accent }}" },
  { name = "kritadisplayrc", text = "", fg = "{{ .colors.color5 }}" },
  { name = "kritarc", text = "", fg = "{{ .colors.color5 }}" },
  { name = "license", text = "", fg = "{{ .colors.color3 }}" },
  { name = "license.md", text = "", fg = "{{ .colors.color3 }}" },
  { name = "lxde-rc.xml", text = "", fg = "{{ .colors.color8 }}" },
  { name = "lxqt.conf", text = "", fg = "{{ .colors.accent }}" },
  { name = "makefile", text = "", fg = "{{ .colors.color8 }}" },
  { name = "mix.lock", text = "", fg = "{{ .colors.color5 }}" },
  { name = "mpv.conf", text = "", fg = "{{ .colors.color5 }}" },
  { name = "next.config.cjs", text = "", fg = "{{ .colors.fg }}" },
  { name = "next.config.js", text = "", fg = "{{ .colors.fg }}" },
  { name = "next.config.ts", text = "", fg = "{{ .colors.fg }}" },
  { name = "node_modules", text = "", fg = "{{ .colors.color1 }}" },
  { name = "nuxt.config.cjs", text = "󱄆", fg = "{{ .colors.color6 }}" },
  { name = "nuxt.config.js", text = "󱄆", fg = "{{ .colors.color6 }}" },
  { name = "nuxt.config.mjs", text = "󱄆", fg = "{{ .colors.color6 }}" },
  { name = "nuxt.config.ts", text = "󱄆", fg = "{{ .colors.color6 }}" },
  { name = "package-lock.json", text = "", fg = "{{ .colors.color1 }}" },
  { name = "package.json", text = "", fg = "{{ .colors.color1 }}" },
  { name = "PKGBUILD", text = "", fg = "{{ .colors.accent }}" },
  { name = "platformio.ini", text = "", fg = "{{ .colors.color3 }}" },
  { name = "playwright.config.cjs", text = "", fg = "{{ .colors.color2 }}" },
  { name = "playwright.config.cts", text = "", fg = "{{ .colors.color2 }}" },
  { name = "playwright.config.js", text = "", fg = "{{ .colors.color2 }}" },
  { name = "playwright.config.mjs", text = "", fg = "{{ .colors.color2 }}" },
  { name = "playwright.config.mts", text = "", fg = "{{ .colors.color2 }}" },
  { name = "playwright.config.ts", text = "", fg = "{{ .colors.color2 }}" },
  { name = "pnpm-lock.yaml", text = "", fg = "{{ .colors.color3 }}" },
  { name = "pnpm-workspace.yaml", text = "", fg = "{{ .colors.color3 }}" },
  { name = "pom.xml", text = "", fg = "{{ .colors.color1 }}" },
  { name = "prettier.config.cjs", text = "", fg = "{{ .colors.color4 }}" },
  { name = "prettier.config.js", text = "", fg = "{{ .colors.color4 }}" },
  { name = "prettier.config.mjs", text = "", fg = "{{ .colors.color4 }}" },
  { name = "prettier.config.ts", text = "", fg = "{{ .colors.color4 }}" },
  { name = "prisma.config.mts", text = "", fg = "{{ .colors.color5 }}" },
  { name = "prisma.config.ts", text = "", fg = "{{ .colors.color5 }}" },
  { name = "procfile", text = "", fg = "{{ .colors.color5 }}" },
  { name = "PrusaSlicer.ini", text = "", fg = "{{ .colors.color3 }}" },
  { name = "PrusaSlicerGcodeViewer.ini", text = "", fg = "{{ .colors.color3 }}" },
  { name = "py.typed", text = "", fg = "{{ .colors.color3 }}" },
  { name = "QtProject.conf", text = "", fg = "{{ .colors.color2 }}" },
  { name = "rakefile", text = "", fg = "{{ .colors.color1 }}" },
  { name = "readme", text = "󰂺", fg = "{{ .colors.fg }}" },
  { name = "readme.md", text = "󰂺", fg = "{{ .colors.fg }}" },
  { name = "rmd", text = "", fg = "{{ .colors.accent }}" },
  { name = "robots.txt", text = "󰚩", fg = "{{ .colors.color5 }}" },
  { name = "security", text = "󰒃", fg = "{{ .colors.color8 }}" },
  { name = "security.md", text = "󰒃", fg = "{{ .colors.color8 }}" },
  { name = "settings.gradle", text = "", fg = "{{ .colors.accent }}" },
  { name = "svelte.config.js", text = "", fg = "{{ .colors.color1 }}" },
  { name = "sxhkdrc", text = "", fg = "{{ .colors.color8 }}" },
  { name = "sym-lib-table", text = "", fg = "{{ .colors.fg }}" },
  { name = "tailwind.config.js", text = "󱏿", fg = "{{ .colors.accent }}" },
  { name = "tailwind.config.mjs", text = "󱏿", fg = "{{ .colors.accent }}" },
  { name = "tailwind.config.ts", text = "󱏿", fg = "{{ .colors.accent }}" },
  { name = "tmux.conf", text = "", fg = "{{ .colors.color2 }}" },
  { name = "tmux.conf.local", text = "", fg = "{{ .colors.color2 }}" },
  { name = "tsconfig.json", text = "", fg = "{{ .colors.accent }}" },
  { name = "unlicense", text = "", fg = "{{ .colors.color3 }}" },
  { name = "vagrantfile", text = "", fg = "{{ .colors.color4 }}" },
  { name = "vercel.json", text = "", fg = "{{ .colors.fg }}" },
  { name = "vite.config.cjs", text = "", fg = "{{ .colors.color3 }}" },
  { name = "vite.config.cts", text = "", fg = "{{ .colors.color3 }}" },
  { name = "vite.config.js", text = "", fg = "{{ .colors.color3 }}" },
  { name = "vite.config.mjs", text = "", fg = "{{ .colors.color3 }}" },
  { name = "vite.config.mts", text = "", fg = "{{ .colors.color3 }}" },
  { name = "vite.config.ts", text = "", fg = "{{ .colors.color3 }}" },
  { name = "vitest.config.cjs", text = "", fg = "{{ .colors.color2 }}" },
  { name = "vitest.config.cts", text = "", fg = "{{ .colors.color2 }}" },
  { name = "vitest.config.js", text = "", fg = "{{ .colors.color2 }}" },
  { name = "vitest.config.mjs", text = "", fg = "{{ .colors.color2 }}" },
  { name = "vitest.config.mts", text = "", fg = "{{ .colors.color2 }}" },
  { name = "vitest.config.ts", text = "", fg = "{{ .colors.color2 }}" },
  { name = "vlcrc", text = "󰕼", fg = "{{ .colors.color3 }}" },
  { name = "webpack", text = "󰜫", fg = "{{ .colors.accent }}" },
  { name = "weston.ini", text = "", fg = "{{ .colors.color3 }}" },
  { name = "workspace", text = "", fg = "{{ .colors.color2 }}" },
  { name = "wrangler.jsonc", text = "", fg = "{{ .colors.color3 }}" },
  { name = "wrangler.toml", text = "", fg = "{{ .colors.color3 }}" },
  { name = "xdph.conf", text = "", fg = "{{ .colors.accent }}" },
  { name = "xmobarrc", text = "", fg = "{{ .colors.color1 }}" },
  { name = "xmobarrc.hs", text = "", fg = "{{ .colors.color1 }}" },
  { name = "xmonad.hs", text = "", fg = "{{ .colors.color1 }}" },
  { name = "xorg.conf", text = "", fg = "{{ .colors.color1 }}" },
  { name = "xsettingsd.conf", text = "", fg = "{{ .colors.color1 }}" },
]
exts = [
  { name = "3gp", text = "", fg = "{{ .colors.color3 }}" },
  { name = "3mf", text = "󰆧", fg = "{{ .colors.color8 }}" },
  { name = "7z", text = "", fg = "{{ .colors.color3 }}" },
  { name = "a", text = "", fg = "{{ .colors.fg }}" },
  { name = "aac", text = "", fg = "{{ .colors.accent }}" },
  { name = "ada", text = "", fg = "{{ .colors.color4 }}" },
  { name = "adb", text = "", fg = "{{ .colors.color4 }}" },
  { name = "ads", text = "", fg = "{{ .colors.color5 }}" },
  { name = "ai", text = "", fg = "{{ .colors.color3 }}" },
  { name = "aif", text = "", fg = "{{ .colors.accent }}" },
  { name = "aiff", text = "", fg = "{{ .colors.accent }}" },
  { name = "android", text = "", fg = "{{ .colors.color2 }}" },
  { name = "ape", text = "", fg = "{{ .colors.accent }}" },
  { name = "apk", text = "", fg = "{{ .colors.color2 }}" },
  { name = "apl", text = "", fg = "{{ .colors.color2 }}" },
  { name = "app", text = "", fg = "{{ .colors.color1 }}" },
  { name = "applescript", text = "", fg = "{{ .colors.color8 }}" },
  { name = "asc", text = "󰦝", fg = "{{ .colors.color8 }}" },
  { name = "asm", text = "", fg = "{{ .colors.accent }}" },
  { name = "ass", text = "󰨖", fg = "{{ .colors.color3 }}" },
  { name = "astro", text = "", fg = "{{ .colors.color1 }}" },
  { name = "avif", text = "", fg = "{{ .colors.color5 }}" },
  { name = "awk", text = "", fg = "{{ .colors.color8 }}" },
  { name = "azcli", text = "", fg = "{{ .colors.accent }}" },
  { name = "bak", text = "󰁯", fg = "{{ .colors.color8 }}" },
  { name = "bash", text = "", fg = "{{ .colors.color2 }}" },
  { name = "bat", text = "", fg = "{{ .colors.color2 }}" },
  { name = "bazel", text = "", fg = "{{ .colors.color2 }}" },
  { name = "bib", text = "󱉟", fg = "{{ .colors.color3 }}" },
  { name = "bicep", text = "", fg = "{{ .colors.accent }}" },
  { name = "bicepparam", text = "", fg = "{{ .colors.color5 }}" },
  { name = "bin", text = "", fg = "{{ .colors.color1 }}" },
  { name = "blade.php", text = "", fg = "{{ .colors.color1 }}" },
  { name = "blend", text = "󰂫", fg = "{{ .colors.color3 }}" },
  { name = "blp", text = "󰺾", fg = "{{ .colors.accent }}" },
  { name = "bmp", text = "", fg = "{{ .colors.color5 }}" },
  { name = "bqn", text = "", fg = "{{ .colors.color2 }}" },
  { name = "brep", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "bz", text = "", fg = "{{ .colors.color3 }}" },
  { name = "bz2", text = "", fg = "{{ .colors.color3 }}" },
  { name = "bz3", text = "", fg = "{{ .colors.color3 }}" },
  { name = "bzl", text = "", fg = "{{ .colors.color2 }}" },
  { name = "c", text = "", fg = "{{ .colors.color4 }}" },
  { name = "c++", text = "", fg = "{{ .colors.color1 }}" },
  { name = "cache", text = "", fg = "{{ .colors.fg }}" },
  { name = "cast", text = "", fg = "{{ .colors.color3 }}" },
  { name = "cbl", text = "", fg = "{{ .colors.accent }}" },
  { name = "cc", text = "", fg = "{{ .colors.color1 }}" },
  { name = "ccm", text = "", fg = "{{ .colors.color1 }}" },
  { name = "cfc", text = "", fg = "{{ .colors.accent }}" },
  { name = "cfg", text = "", fg = "{{ .colors.color8 }}" },
  { name = "cfm", text = "", fg = "{{ .colors.accent }}" },
  { name = "cjs", text = "", fg = "{{ .colors.color3 }}" },
  { name = "clj", text = "", fg = "{{ .colors.color2 }}" },
  { name = "cljc", text = "", fg = "{{ .colors.color2 }}" },
  { name = "cljd", text = "", fg = "{{ .colors.accent }}" },
  { name = "cljs", text = "", fg = "{{ .colors.accent }}" },
  { name = "cmake", text = "", fg = "{{ .colors.color8 }}" },
  { name = "cob", text = "", fg = "{{ .colors.accent }}" },
  { name = "cobol", text = "", fg = "{{ .colors.accent }}" },
  { name = "coffee", text = "", fg = "{{ .colors.color3 }}" },
  { name = "conda", text = "", fg = "{{ .colors.color2 }}" },
  { name = "conf", text = "", fg = "{{ .colors.color8 }}" },
  { name = "config.ru", text = "", fg = "{{ .colors.color1 }}" },
  { name = "cow", text = "󰆚", fg = "{{ .colors.color8 }}" },
  { name = "cp", text = "", fg = "{{ .colors.accent }}" },
  { name = "cpp", text = "", fg = "{{ .colors.accent }}" },
  { name = "cppm", text = "", fg = "{{ .colors.accent }}" },
  { name = "cpy", text = "", fg = "{{ .colors.accent }}" },
  { name = "cr", text = "", fg = "{{ .colors.fg }}" },
  { name = "crdownload", text = "", fg = "{{ .colors.color2 }}" },
  { name = "cs", text = "󰌛", fg = "{{ .colors.color2 }}" },
  { name = "csh", text = "", fg = "{{ .colors.color8 }}" },
  { name = "cshtml", text = "󱦗", fg = "{{ .colors.color5 }}" },
  { name = "cson", text = "", fg = "{{ .colors.color3 }}" },
  { name = "csproj", text = "󰪮", fg = "{{ .colors.color5 }}" },
  { name = "css", text = "", fg = "{{ .colors.color5 }}" },
  { name = "csv", text = "", fg = "{{ .colors.color2 }}" },
  { name = "cts", text = "", fg = "{{ .colors.accent }}" },
  { name = "cu", text = "", fg = "{{ .colors.color2 }}" },
  { name = "cue", text = "󰲹", fg = "{{ .colors.color5 }}" },
  { name = "cuh", text = "", fg = "{{ .colors.color5 }}" },
  { name = "cxx", text = "", fg = "{{ .colors.accent }}" },
  { name = "cxxm", text = "", fg = "{{ .colors.accent }}" },
  { name = "d", text = "", fg = "{{ .colors.color1 }}" },
  { name = "d.ts", text = "", fg = "{{ .colors.color3 }}" },
  { name = "dart", text = "", fg = "{{ .colors.accent }}" },
  { name = "db", text = "", fg = "{{ .colors.fg }}" },
  { name = "dconf", text = "", fg = "{{ .colors.fg }}" },
  { name = "desktop", text = "", fg = "{{ .colors.color5 }}" },
  { name = "diff", text = "", fg = "{{ .colors.color8 }}" },
  { name = "dll", text = "", fg = "{{ .colors.color8 }}" },
  { name = "doc", text = "󰈬", fg = "{{ .colors.accent }}" },
  { name = "Dockerfile", text = "󰡨", fg = "{{ .colors.color4 }}" },
  { name = "dockerignore", text = "󰡨", fg = "{{ .colors.color4 }}" },
  { name = "docx", text = "󰈬", fg = "{{ .colors.accent }}" },
  { name = "dot", text = "󱁉", fg = "{{ .colors.accent }}" },
  { name = "download", text = "", fg = "{{ .colors.color2 }}" },
  { name = "drl", text = "", fg = "{{ .colors.color5 }}" },
  { name = "dropbox", text = "", fg = "{{ .colors.accent }}" },
  { name = "dump", text = "", fg = "{{ .colors.fg }}" },
  { name = "dwg", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "dxf", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "ebook", text = "", fg = "{{ .colors.color3 }}" },
  { name = "ebuild", text = "", fg = "{{ .colors.color5 }}" },
  { name = "edn", text = "", fg = "{{ .colors.accent }}" },
  { name = "eex", text = "", fg = "{{ .colors.color5 }}" },
  { name = "ejs", text = "", fg = "{{ .colors.color3 }}" },
  { name = "el", text = "", fg = "{{ .colors.color5 }}" },
  { name = "elc", text = "", fg = "{{ .colors.color5 }}" },
  { name = "elf", text = "", fg = "{{ .colors.color1 }}" },
  { name = "elm", text = "", fg = "{{ .colors.accent }}" },
  { name = "eln", text = "", fg = "{{ .colors.color5 }}" },
  { name = "env", text = "", fg = "{{ .colors.color3 }}" },
  { name = "eot", text = "", fg = "{{ .colors.fg }}" },
  { name = "epp", text = "", fg = "{{ .colors.color3 }}" },
  { name = "epub", text = "", fg = "{{ .colors.color3 }}" },
  { name = "erb", text = "", fg = "{{ .colors.color1 }}" },
  { name = "erl", text = "", fg = "{{ .colors.color5 }}" },
  { name = "ex", text = "", fg = "{{ .colors.color5 }}" },
  { name = "exe", text = "", fg = "{{ .colors.color1 }}" },
  { name = "exs", text = "", fg = "{{ .colors.color5 }}" },
  { name = "f#", text = "", fg = "{{ .colors.accent }}" },
  { name = "f3d", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "f90", text = "󱈚", fg = "{{ .colors.color5 }}" },
  { name = "fbx", text = "󰆧", fg = "{{ .colors.color8 }}" },
  { name = "fcbak", text = "", fg = "{{ .colors.color1 }}" },
  { name = "fcmacro", text = "", fg = "{{ .colors.color1 }}" },
  { name = "fcmat", text = "", fg = "{{ .colors.color1 }}" },
  { name = "fcparam", text = "", fg = "{{ .colors.color1 }}" },
  { name = "fcscript", text = "", fg = "{{ .colors.color1 }}" },
  { name = "fcstd", text = "", fg = "{{ .colors.color1 }}" },
  { name = "fcstd1", text = "", fg = "{{ .colors.color1 }}" },
  { name = "fctb", text = "", fg = "{{ .colors.color1 }}" },
  { name = "fctl", text = "", fg = "{{ .colors.color1 }}" },
  { name = "fdmdownload", text = "", fg = "{{ .colors.color2 }}" },
  { name = "feature", text = "", fg = "{{ .colors.color2 }}" },
  { name = "fish", text = "", fg = "{{ .colors.color8 }}" },
  { name = "flac", text = "", fg = "{{ .colors.accent }}" },
  { name = "flc", text = "", fg = "{{ .colors.fg }}" },
  { name = "flf", text = "", fg = "{{ .colors.fg }}" },
  { name = "fnl", text = "", fg = "{{ .colors.fg }}" },
  { name = "fodg", text = "", fg = "{{ .colors.color3 }}" },
  { name = "fodp", text = "", fg = "{{ .colors.color3 }}" },
  { name = "fods", text = "", fg = "{{ .colors.color2 }}" },
  { name = "fodt", text = "", fg = "{{ .colors.accent }}" },
  { name = "frag", text = "", fg = "{{ .colors.accent }}" },
  { name = "fs", text = "", fg = "{{ .colors.accent }}" },
  { name = "fsi", text = "", fg = "{{ .colors.accent }}" },
  { name = "fsscript", text = "", fg = "{{ .colors.accent }}" },
  { name = "fsx", text = "", fg = "{{ .colors.accent }}" },
  { name = "gcode", text = "󰐫", fg = "{{ .colors.accent }}" },
  { name = "gd", text = "", fg = "{{ .colors.color8 }}" },
  { name = "gemspec", text = "", fg = "{{ .colors.color1 }}" },
  { name = "geom", text = "", fg = "{{ .colors.accent }}" },
  { name = "gif", text = "", fg = "{{ .colors.color5 }}" },
  { name = "git", text = "", fg = "{{ .colors.color1 }}" },
  { name = "glb", text = "", fg = "{{ .colors.color3 }}" },
  { name = "gleam", text = "", fg = "{{ .colors.color5 }}" },
  { name = "glsl", text = "", fg = "{{ .colors.accent }}" },
  { name = "gnumakefile", text = "", fg = "{{ .colors.color8 }}" },
  { name = "go", text = "", fg = "{{ .colors.accent }}" },
  { name = "godot", text = "", fg = "{{ .colors.color8 }}" },
  { name = "gpr", text = "", fg = "{{ .colors.color8 }}" },
  { name = "gql", text = "", fg = "{{ .colors.color5 }}" },
  { name = "gradle", text = "", fg = "{{ .colors.accent }}" },
  { name = "graphql", text = "", fg = "{{ .colors.color5 }}" },
  { name = "gresource", text = "", fg = "{{ .colors.fg }}" },
  { name = "gv", text = "󱁉", fg = "{{ .colors.accent }}" },
  { name = "gz", text = "", fg = "{{ .colors.color3 }}" },
  { name = "h", text = "", fg = "{{ .colors.color5 }}" },
  { name = "haml", text = "", fg = "{{ .colors.fg }}" },
  { name = "hbs", text = "", fg = "{{ .colors.color3 }}" },
  { name = "heex", text = "", fg = "{{ .colors.color5 }}" },
  { name = "hex", text = "", fg = "{{ .colors.accent }}" },
  { name = "hh", text = "", fg = "{{ .colors.color5 }}" },
  { name = "hpp", text = "", fg = "{{ .colors.color5 }}" },
  { name = "hrl", text = "", fg = "{{ .colors.color5 }}" },
  { name = "hs", text = "", fg = "{{ .colors.color5 }}" },
  { name = "htm", text = "", fg = "{{ .colors.color1 }}" },
  { name = "html", text = "", fg = "{{ .colors.color1 }}" },
  { name = "http", text = "", fg = "{{ .colors.accent }}" },
  { name = "huff", text = "󰡘", fg = "{{ .colors.accent }}" },
  { name = "hurl", text = "", fg = "{{ .colors.color5 }}" },
  { name = "hx", text = "", fg = "{{ .colors.color3 }}" },
  { name = "hxx", text = "", fg = "{{ .colors.color5 }}" },
  { name = "ical", text = "", fg = "{{ .colors.accent }}" },
  { name = "icalendar", text = "", fg = "{{ .colors.accent }}" },
  { name = "ico", text = "", fg = "{{ .colors.color3 }}" },
  { name = "ics", text = "", fg = "{{ .colors.accent }}" },
  { name = "ifb", text = "", fg = "{{ .colors.accent }}" },
  { name = "ifc", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "ige", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "iges", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "igs", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "image", text = "", fg = "{{ .colors.color8 }}" },
  { name = "img", text = "", fg = "{{ .colors.color8 }}" },
  { name = "import", text = "", fg = "{{ .colors.fg }}" },
  { name = "info", text = "", fg = "{{ .colors.fg }}" },
  { name = "ini", text = "", fg = "{{ .colors.color8 }}" },
  { name = "ino", text = "", fg = "{{ .colors.accent }}" },
  { name = "ipynb", text = "", fg = "{{ .colors.color3 }}" },
  { name = "iso", text = "", fg = "{{ .colors.color8 }}" },
  { name = "ixx", text = "", fg = "{{ .colors.accent }}" },
  { name = "jar", text = "", fg = "{{ .colors.color3 }}" },
  { name = "java", text = "", fg = "{{ .colors.color1 }}" },
  { name = "jl", text = "", fg = "{{ .colors.color5 }}" },
  { name = "jpeg", text = "", fg = "{{ .colors.color5 }}" },
  { name = "jpg", text = "", fg = "{{ .colors.color5 }}" },
  { name = "js", text = "", fg = "{{ .colors.color3 }}" },
  { name = "json", text = "", fg = "{{ .colors.color3 }}" },
  { name = "json5", text = "", fg = "{{ .colors.color3 }}" },
  { name = "jsonc", text = "", fg = "{{ .colors.color3 }}" },
  { name = "jsx", text = "", fg = "{{ .colors.accent }}" },
  { name = "jwmrc", text = "", fg = "{{ .colors.accent }}" },
  { name = "jxl", text = "", fg = "{{ .colors.color5 }}" },
  { name = "kbx", text = "󰯄", fg = "{{ .colors.color8 }}" },
  { name = "kdb", text = "", fg = "{{ .colors.color2 }}" },
  { name = "kdbx", text = "", fg = "{{ .colors.color2 }}" },
  { name = "kdenlive", text = "", fg = "{{ .colors.accent }}" },
  { name = "kdenlivetitle", text = "", fg = "{{ .colors.accent }}" },
  { name = "kicad_dru", text = "", fg = "{{ .colors.fg }}" },
  { name = "kicad_mod", text = "", fg = "{{ .colors.fg }}" },
  { name = "kicad_pcb", text = "", fg = "{{ .colors.fg }}" },
  { name = "kicad_prl", text = "", fg = "{{ .colors.fg }}" },
  { name = "kicad_pro", text = "", fg = "{{ .colors.fg }}" },
  { name = "kicad_sch", text = "", fg = "{{ .colors.fg }}" },
  { name = "kicad_sym", text = "", fg = "{{ .colors.fg }}" },
  { name = "kicad_wks", text = "", fg = "{{ .colors.fg }}" },
  { name = "ko", text = "", fg = "{{ .colors.fg }}" },
  { name = "kpp", text = "", fg = "{{ .colors.color5 }}" },
  { name = "kra", text = "", fg = "{{ .colors.color5 }}" },
  { name = "krz", text = "", fg = "{{ .colors.color5 }}" },
  { name = "ksh", text = "", fg = "{{ .colors.color8 }}" },
  { name = "kt", text = "", fg = "{{ .colors.color5 }}" },
  { name = "kts", text = "", fg = "{{ .colors.color5 }}" },
  { name = "lck", text = "", fg = "{{ .colors.color8 }}" },
  { name = "leex", text = "", fg = "{{ .colors.color5 }}" },
  { name = "less", text = "", fg = "{{ .colors.color5 }}" },
  { name = "lff", text = "", fg = "{{ .colors.fg }}" },
  { name = "lhs", text = "", fg = "{{ .colors.color5 }}" },
  { name = "lib", text = "", fg = "{{ .colors.color8 }}" },
  { name = "license", text = "", fg = "{{ .colors.color3 }}" },
  { name = "liquid", text = "", fg = "{{ .colors.color2 }}" },
  { name = "lock", text = "", fg = "{{ .colors.color8 }}" },
  { name = "log", text = "󰌱", fg = "{{ .colors.fg }}" },
  { name = "lrc", text = "󰨖", fg = "{{ .colors.color3 }}" },
  { name = "lua", text = "", fg = "{{ .colors.accent }}" },
  { name = "luac", text = "", fg = "{{ .colors.accent }}" },
  { name = "luau", text = "", fg = "{{ .colors.accent }}" },
  { name = "m", text = "", fg = "{{ .colors.color4 }}" },
  { name = "m3u", text = "󰲹", fg = "{{ .colors.color5 }}" },
  { name = "m3u8", text = "󰲹", fg = "{{ .colors.color5 }}" },
  { name = "m4a", text = "", fg = "{{ .colors.accent }}" },
  { name = "m4v", text = "", fg = "{{ .colors.color3 }}" },
  { name = "magnet", text = "", fg = "{{ .colors.color1 }}" },
  { name = "makefile", text = "", fg = "{{ .colors.color8 }}" },
  { name = "markdown", text = "", fg = "{{ .colors.fg }}" },
  { name = "material", text = "", fg = "{{ .colors.color5 }}" },
  { name = "md", text = "", fg = "{{ .colors.fg }}" },
  { name = "md5", text = "󰕥", fg = "{{ .colors.color8 }}" },
  { name = "mdx", text = "", fg = "{{ .colors.accent }}" },
  { name = "mint", text = "󰌪", fg = "{{ .colors.color2 }}" },
  { name = "mjs", text = "", fg = "{{ .colors.color3 }}" },
  { name = "mk", text = "", fg = "{{ .colors.color8 }}" },
  { name = "mkv", text = "", fg = "{{ .colors.color3 }}" },
  { name = "ml", text = "", fg = "{{ .colors.color3 }}" },
  { name = "mli", text = "", fg = "{{ .colors.color3 }}" },
  { name = "mm", text = "", fg = "{{ .colors.accent }}" },
  { name = "mo", text = "", fg = "{{ .colors.color5 }}" },
  { name = "mobi", text = "", fg = "{{ .colors.color3 }}" },
  { name = "mojo", text = "", fg = "{{ .colors.color1 }}" },
  { name = "mov", text = "", fg = "{{ .colors.color3 }}" },
  { name = "mp3", text = "", fg = "{{ .colors.accent }}" },
  { name = "mp4", text = "", fg = "{{ .colors.color3 }}" },
  { name = "mpp", text = "", fg = "{{ .colors.accent }}" },
  { name = "msf", text = "", fg = "{{ .colors.accent }}" },
  { name = "mts", text = "", fg = "{{ .colors.accent }}" },
  { name = "mustache", text = "", fg = "{{ .colors.color3 }}" },
  { name = "nfo", text = "", fg = "{{ .colors.fg }}" },
  { name = "nim", text = "", fg = "{{ .colors.color3 }}" },
  { name = "nix", text = "", fg = "{{ .colors.accent }}" },
  { name = "norg", text = "", fg = "{{ .colors.accent }}" },
  { name = "nswag", text = "", fg = "{{ .colors.color2 }}" },
  { name = "nu", text = "", fg = "{{ .colors.color2 }}" },
  { name = "o", text = "", fg = "{{ .colors.color1 }}" },
  { name = "obj", text = "󰆧", fg = "{{ .colors.color8 }}" },
  { name = "odf", text = "", fg = "{{ .colors.color5 }}" },
  { name = "odg", text = "", fg = "{{ .colors.color3 }}" },
  { name = "odin", text = "󰟢", fg = "{{ .colors.accent }}" },
  { name = "odp", text = "", fg = "{{ .colors.color3 }}" },
  { name = "ods", text = "", fg = "{{ .colors.color2 }}" },
  { name = "odt", text = "", fg = "{{ .colors.accent }}" },
  { name = "oga", text = "", fg = "{{ .colors.accent }}" },
  { name = "ogg", text = "", fg = "{{ .colors.accent }}" },
  { name = "ogv", text = "", fg = "{{ .colors.color3 }}" },
  { name = "ogx", text = "", fg = "{{ .colors.color3 }}" },
  { name = "opus", text = "", fg = "{{ .colors.accent }}" },
  { name = "org", text = "", fg = "{{ .colors.color2 }}" },
  { name = "otf", text = "", fg = "{{ .colors.fg }}" },
  { name = "out", text = "", fg = "{{ .colors.color1 }}" },
  { name = "part", text = "", fg = "{{ .colors.color2 }}" },
  { name = "patch", text = "", fg = "{{ .colors.color8 }}" },
  { name = "pck", text = "", fg = "{{ .colors.color8 }}" },
  { name = "pcm", text = "", fg = "{{ .colors.accent }}" },
  { name = "pdf", text = "", fg = "{{ .colors.color1 }}" },
  { name = "php", text = "", fg = "{{ .colors.color5 }}" },
  { name = "pl", text = "", fg = "{{ .colors.accent }}" },
  { name = "pls", text = "󰲹", fg = "{{ .colors.color5 }}" },
  { name = "ply", text = "󰆧", fg = "{{ .colors.color8 }}" },
  { name = "pm", text = "", fg = "{{ .colors.accent }}" },
  { name = "png", text = "", fg = "{{ .colors.color5 }}" },
  { name = "po", text = "", fg = "{{ .colors.accent }}" },
  { name = "pot", text = "", fg = "{{ .colors.accent }}" },
  { name = "pp", text = "", fg = "{{ .colors.color3 }}" },
  { name = "ppt", text = "󰈧", fg = "{{ .colors.color1 }}" },
  { name = "pptx", text = "󰈧", fg = "{{ .colors.color1 }}" },
  { name = "prisma", text = "", fg = "{{ .colors.color5 }}" },
  { name = "pro", text = "", fg = "{{ .colors.color3 }}" },
  { name = "ps1", text = "󰨊", fg = "{{ .colors.accent }}" },
  { name = "psb", text = "", fg = "{{ .colors.accent }}" },
  { name = "psd", text = "", fg = "{{ .colors.accent }}" },
  { name = "psd1", text = "󰨊", fg = "{{ .colors.accent }}" },
  { name = "psm1", text = "󰨊", fg = "{{ .colors.accent }}" },
  { name = "pub", text = "󰷖", fg = "{{ .colors.color3 }}" },
  { name = "pxd", text = "", fg = "{{ .colors.accent }}" },
  { name = "pxi", text = "", fg = "{{ .colors.accent }}" },
  { name = "py", text = "", fg = "{{ .colors.color3 }}" },
  { name = "pyc", text = "", fg = "{{ .colors.color3 }}" },
  { name = "pyd", text = "", fg = "{{ .colors.color3 }}" },
  { name = "pyi", text = "", fg = "{{ .colors.color3 }}" },
  { name = "pyo", text = "", fg = "{{ .colors.color3 }}" },
  { name = "pyw", text = "", fg = "{{ .colors.accent }}" },
  { name = "pyx", text = "", fg = "{{ .colors.accent }}" },
  { name = "qm", text = "", fg = "{{ .colors.accent }}" },
  { name = "qml", text = "", fg = "{{ .colors.color2 }}" },
  { name = "qrc", text = "", fg = "{{ .colors.color2 }}" },
  { name = "qss", text = "", fg = "{{ .colors.color2 }}" },
  { name = "query", text = "", fg = "{{ .colors.color2 }}" },
  { name = "R", text = "󰟔", fg = "{{ .colors.accent }}" },
  { name = "r", text = "󰟔", fg = "{{ .colors.accent }}" },
  { name = "rake", text = "", fg = "{{ .colors.color1 }}" },
  { name = "rar", text = "", fg = "{{ .colors.color3 }}" },
  { name = "rasi", text = "", fg = "{{ .colors.color3 }}" },
  { name = "razor", text = "󱦘", fg = "{{ .colors.color5 }}" },
  { name = "rb", text = "", fg = "{{ .colors.color1 }}" },
  { name = "res", text = "", fg = "{{ .colors.color1 }}" },
  { name = "resi", text = "", fg = "{{ .colors.color5 }}" },
  { name = "rlib", text = "", fg = "{{ .colors.color3 }}" },
  { name = "rmd", text = "", fg = "{{ .colors.accent }}" },
  { name = "rproj", text = "󰗆", fg = "{{ .colors.color2 }}" },
  { name = "rs", text = "", fg = "{{ .colors.color3 }}" },
  { name = "rss", text = "", fg = "{{ .colors.color3 }}" },
  { name = "s", text = "", fg = "{{ .colors.accent }}" },
  { name = "sass", text = "", fg = "{{ .colors.color5 }}" },
  { name = "sbt", text = "", fg = "{{ .colors.color1 }}" },
  { name = "sc", text = "", fg = "{{ .colors.color1 }}" },
  { name = "scad", text = "", fg = "{{ .colors.color3 }}" },
  { name = "scala", text = "", fg = "{{ .colors.color1 }}" },
  { name = "scm", text = "󰘧", fg = "{{ .colors.fg }}" },
  { name = "scss", text = "", fg = "{{ .colors.color5 }}" },
  { name = "sh", text = "", fg = "{{ .colors.color8 }}" },
  { name = "sha1", text = "󰕥", fg = "{{ .colors.color8 }}" },
  { name = "sha224", text = "󰕥", fg = "{{ .colors.color8 }}" },
  { name = "sha256", text = "󰕥", fg = "{{ .colors.color8 }}" },
  { name = "sha384", text = "󰕥", fg = "{{ .colors.color8 }}" },
  { name = "sha512", text = "󰕥", fg = "{{ .colors.color8 }}" },
  { name = "sig", text = "󰘧", fg = "{{ .colors.color3 }}" },
  { name = "signature", text = "󰘧", fg = "{{ .colors.color3 }}" },
  { name = "skp", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "sldasm", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "sldprt", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "slim", text = "", fg = "{{ .colors.color1 }}" },
  { name = "sln", text = "", fg = "{{ .colors.color5 }}" },
  { name = "slnx", text = "", fg = "{{ .colors.color5 }}" },
  { name = "slvs", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "sml", text = "󰘧", fg = "{{ .colors.color3 }}" },
  { name = "so", text = "", fg = "{{ .colors.fg }}" },
  { name = "sol", text = "", fg = "{{ .colors.accent }}" },
  { name = "spec.js", text = "", fg = "{{ .colors.color3 }}" },
  { name = "spec.jsx", text = "", fg = "{{ .colors.accent }}" },
  { name = "spec.ts", text = "", fg = "{{ .colors.accent }}" },
  { name = "spec.tsx", text = "", fg = "{{ .colors.accent }}" },
  { name = "spx", text = "", fg = "{{ .colors.accent }}" },
  { name = "sql", text = "", fg = "{{ .colors.fg }}" },
  { name = "sqlite", text = "", fg = "{{ .colors.fg }}" },
  { name = "sqlite3", text = "", fg = "{{ .colors.fg }}" },
  { name = "srt", text = "󰨖", fg = "{{ .colors.color3 }}" },
  { name = "ssa", text = "󰨖", fg = "{{ .colors.color3 }}" },
  { name = "ste", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "step", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "stl", text = "󰆧", fg = "{{ .colors.color8 }}" },
  { name = "stories.js", text = "", fg = "{{ .colors.color5 }}" },
  { name = "stories.jsx", text = "", fg = "{{ .colors.color5 }}" },
  { name = "stories.mjs", text = "", fg = "{{ .colors.color5 }}" },
  { name = "stories.svelte", text = "", fg = "{{ .colors.color5 }}" },
  { name = "stories.ts", text = "", fg = "{{ .colors.color5 }}" },
  { name = "stories.tsx", text = "", fg = "{{ .colors.color5 }}" },
  { name = "stories.vue", text = "", fg = "{{ .colors.color5 }}" },
  { name = "stp", text = "󰻫", fg = "{{ .colors.color2 }}" },
  { name = "strings", text = "", fg = "{{ .colors.accent }}" },
  { name = "styl", text = "", fg = "{{ .colors.color2 }}" },
  { name = "sub", text = "󰨖", fg = "{{ .colors.color3 }}" },
  { name = "sublime", text = "", fg = "{{ .colors.color3 }}" },
  { name = "suo", text = "", fg = "{{ .colors.color5 }}" },
  { name = "sv", text = "󰍛", fg = "{{ .colors.color2 }}" },
  { name = "svelte", text = "", fg = "{{ .colors.color1 }}" },
  { name = "svg", text = "󰜡", fg = "{{ .colors.color3 }}" },
  { name = "svgz", text = "󰜡", fg = "{{ .colors.color3 }}" },
  { name = "svh", text = "󰍛", fg = "{{ .colors.color2 }}" },
  { name = "swift", text = "", fg = "{{ .colors.color3 }}" },
  { name = "t", text = "", fg = "{{ .colors.accent }}" },
  { name = "tbc", text = "󰛓", fg = "{{ .colors.accent }}" },
  { name = "tcl", text = "󰛓", fg = "{{ .colors.accent }}" },
  { name = "templ", text = "", fg = "{{ .colors.color3 }}" },
  { name = "terminal", text = "", fg = "{{ .colors.color2 }}" },
  { name = "test.js", text = "", fg = "{{ .colors.color3 }}" },
  { name = "test.jsx", text = "", fg = "{{ .colors.accent }}" },
  { name = "test.ts", text = "", fg = "{{ .colors.accent }}" },
  { name = "test.tsx", text = "", fg = "{{ .colors.accent }}" },
  { name = "tex", text = "", fg = "{{ .colors.color2 }}" },
  { name = "tf", text = "", fg = "{{ .colors.color5 }}" },
  { name = "tfvars", text = "", fg = "{{ .colors.color5 }}" },
  { name = "tgz", text = "", fg = "{{ .colors.color3 }}" },
  { name = "tmpl", text = "", fg = "{{ .colors.color3 }}" },
  { name = "tmux", text = "", fg = "{{ .colors.color2 }}" },
  { name = "toml", text = "", fg = "{{ .colors.color1 }}" },
  { name = "torrent", text = "", fg = "{{ .colors.color2 }}" },
  { name = "tres", text = "", fg = "{{ .colors.color8 }}" },
  { name = "ts", text = "", fg = "{{ .colors.accent }}" },
  { name = "tscn", text = "", fg = "{{ .colors.color8 }}" },
  { name = "tsconfig", text = "", fg = "{{ .colors.color3 }}" },
  { name = "tsx", text = "", fg = "{{ .colors.accent }}" },
  { name = "ttf", text = "", fg = "{{ .colors.fg }}" },
  { name = "twig", text = "", fg = "{{ .colors.color2 }}" },
  { name = "txt", text = "󰈙", fg = "{{ .colors.color2 }}" },
  { name = "txz", text = "", fg = "{{ .colors.color3 }}" },
  { name = "typ", text = "", fg = "{{ .colors.accent }}" },
  { name = "typoscript", text = "", fg = "{{ .colors.color3 }}" },
  { name = "ui", text = "", fg = "{{ .colors.accent }}" },
  { name = "v", text = "󰍛", fg = "{{ .colors.color2 }}" },
  { name = "vala", text = "", fg = "{{ .colors.color5 }}" },
  { name = "vert", text = "", fg = "{{ .colors.accent }}" },
  { name = "vh", text = "󰍛", fg = "{{ .colors.color2 }}" },
  { name = "vhd", text = "󰍛", fg = "{{ .colors.color2 }}" },
  { name = "vhdl", text = "󰍛", fg = "{{ .colors.color2 }}" },
  { name = "vi", text = "", fg = "{{ .colors.color3 }}" },
  { name = "vim", text = "", fg = "{{ .colors.color2 }}" },
  { name = "vsh", text = "", fg = "{{ .colors.accent }}" },
  { name = "vsix", text = "", fg = "{{ .colors.color5 }}" },
  { name = "vue", text = "", fg = "{{ .colors.color2 }}" },
  { name = "wasm", text = "", fg = "{{ .colors.color5 }}" },
  { name = "wav", text = "", fg = "{{ .colors.accent }}" },
  { name = "webm", text = "", fg = "{{ .colors.color3 }}" },
  { name = "webmanifest", text = "", fg = "{{ .colors.color3 }}" },
  { name = "webp", text = "", fg = "{{ .colors.color5 }}" },
  { name = "webpack", text = "󰜫", fg = "{{ .colors.accent }}" },
  { name = "wma", text = "", fg = "{{ .colors.accent }}" },
  { name = "wmv", text = "", fg = "{{ .colors.color3 }}" },
  { name = "woff", text = "", fg = "{{ .colors.fg }}" },
  { name = "woff2", text = "", fg = "{{ .colors.fg }}" },
  { name = "wrl", text = "󰆧", fg = "{{ .colors.color8 }}" },
  { name = "wrz", text = "󰆧", fg = "{{ .colors.color8 }}" },
  { name = "wv", text = "", fg = "{{ .colors.accent }}" },
  { name = "wvc", text = "", fg = "{{ .colors.accent }}" },
  { name = "x", text = "", fg = "{{ .colors.accent }}" },
  { name = "xaml", text = "󰙳", fg = "{{ .colors.color5 }}" },
  { name = "xcf", text = "", fg = "{{ .colors.color8 }}" },
  { name = "xcplayground", text = "", fg = "{{ .colors.color3 }}" },
  { name = "xcstrings", text = "", fg = "{{ .colors.accent }}" },
  { name = "xls", text = "󰈛", fg = "{{ .colors.color2 }}" },
  { name = "xlsx", text = "󰈛", fg = "{{ .colors.color2 }}" },
  { name = "xm", text = "", fg = "{{ .colors.accent }}" },
  { name = "xml", text = "󰗀", fg = "{{ .colors.color3 }}" },
  { name = "xpi", text = "", fg = "{{ .colors.color1 }}" },
  { name = "xslt", text = "󰗀", fg = "{{ .colors.accent }}" },
  { name = "xul", text = "", fg = "{{ .colors.color3 }}" },
  { name = "xz", text = "", fg = "{{ .colors.color3 }}" },
  { name = "yaml", text = "", fg = "{{ .colors.color8 }}" },
  { name = "yml", text = "", fg = "{{ .colors.color8 }}" },
  { name = "zig", text = "", fg = "{{ .colors.color3 }}" },
  { name = "zip", text = "", fg = "{{ .colors.color3 }}" },
  { name = "zsh", text = "", fg = "{{ .colors.color2 }}" },
  { name = "zst", text = "", fg = "{{ .colors.color3 }}" },
  { name = "🔥", text = "", fg = "{{ .colors.color1 }}" },
]
conds = [
  { if = "orphan", text = "", fg = "{{ .colors.fg }}" },
  { if = "link", text = "", fg = "{{ .colors.color8 }}" },
  { if = "block", text = "", fg = "{{ .colors.color3 }}" },
  { if = "char", text = "", fg = "{{ .colors.color3 }}" },
  { if = "fifo", text = "", fg = "{{ .colors.color3 }}" },
  { if = "sock", text = "", fg = "{{ .colors.color3 }}" },
  { if = "sticky", text = "", fg = "{{ .colors.color3 }}" },
  { if = "dummy", text = "", fg = "{{ .colors.color1 }}" },
  { if = "dir", text = "", fg = "{{ .colors.accent }}" },
  { if = "exec", text = "", fg = "{{ .colors.color2 }}" },
  { if = "!dir", text = "", fg = "{{ .colors.fg }}" },
]
