#waybar {
  background: rgba(40, 40, 50, 0.95);
  color: white;
  font-family: "Ubuntu Nerd Font";
  font-weight: bold;
  border-radius: 4px;
}
#workspaces {
  background: inherit;
  margin: 0 0;
}
#workspaces button,
#workspaces button.empty {
  background: inherit;
  border: none;
  box-shadow: none;
  color: rgba(100, 100, 100, 1);
  outline: none;
  text-shadow: none;
}
#workspaces button.active {
  background: rgba(255, 255, 255, 0.2);
}
#workspaces button {
  border-radius: 0px;
  color: white;
}
#clock.date,
#clock.time {
  background: inherit;
  padding-left: 8px;
  padding-right: 8px;
}
