* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: bold;
  color: {{ .colors.fg }};
  margin: 0;
  padding: 0;
  box-shadow: none;
}

*:hover {
  background: transparent;
}

.control-center {
  background: {{ .colors.bg }};
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }}px;
  padding: 10px;
}

.control-center * {
  background: transparent;
}

.control-center *:hover {
  background: transparent;
}

.widget-title {
  margin-top: 10px;
  padding: 0;
}

.widget-title > box {
  margin: 0;
  padding: 0;
}

.widget-title > box > label {
  display: none;
}

.widget-title > box > button {
  background: {{ .colors.bg_alt }};
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }}px;
  padding: 4px 0;
  margin: 0;
  width: 100%;
}

.widget-title > box > button:hover {
  background: {{ .colors.bg_alt }};
}

.notification {
  background: {{ .colors.bg }};
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }}px;
  padding: 8px;
  margin: 0px 0;
}

.notification:hover {
  background: {{ .colors.bg }};
}

.notification-body {
  color: {{ .colors.fg }};
}

.notification-icon {
  margin-right: 6px;
}

.notification-background {
  padding: 4px;
}

.notification-background:hover {
  background: transparent;
}

.notification-title {
  font-weight: bold;
  color: {{ .colors.fg }};
}

.notification-window {
  background: {{ .colors.bg }};
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }}px;
  padding: 8px;
}

.notification-window *:hover {
  background: transparent;
}

.close-button {
  min-width: 0;
  min-height: 0;
}

.close-button image {
  -gtk-icon-size: 0;
}
