* {
  font-family: "Ubuntu Nerd Font";
  font-size: 12px;
  color: #deddda;
  margin: 0;
  padding: 0;
}

*:hover {
  background: transparent;
}

.control-center {
  background: rgba(29, 29, 29, 0.9);
  border: 1px double rgba(158, 157, 218, 0.8);
  border-radius: 4px;
  padding: 10px;
}

.notification {
  background: rgba(29, 29, 29, 0.9);
  border: 1px double rgba(158, 157, 218, 0.8);
  border-radius: 4px;
  padding: 8px;
  margin: 0px 0;
}

.notification-body {
  color: #deddda;
}

.notification-icon {
  margin-right: 6px;
}

.notification-background {
  padding: 4px;
}

.notification-title {
  font-weight: bold;
  color: #deddda;
}

.notification-window {
  background: rgba(29, 29, 29, 0.9);
  border: 1px double rgba(158, 157, 218, 0.8);
  border-radius: 4px;
  padding: 8px;
}

.notification:hover {
  background: rgba(62, 62, 62, 0.85);
}

.close-button,
.close-button:hover {
  background: transparent;
}
