* {
  font-family: "Ubuntu Nerd Font";
  font-size: 12px;
  color: {{ .colors.fg }};
  margin: 0;
  padding: 0;
}

*:hover {
  background: transparent;
}

.control-center {
  background: {{ .colors.bg }}ee;
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }};
  padding: 10px;
}

.notification {
  background: {{ .colors.bg }}ee;
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }};
  padding: 8px;
  margin: 0px 0;
}

.notification-body {
  color: {{ .colors.fg }};
}

.notification-icon {
  margin-right: 6px;
}

.notification-background {
  padding: 4px;
}

.notification-title {
  font-weight: bold;
  color: {{ .colors.fg }};
}

.notification-window {
  background: {{ .colors.bg }}ee;
  border: 1px solid {{ .colors.border }};
  border-radius: {{ .rounding }};
  padding: 8px;
}

.notification:hover {
  background: {{ .colors.bg }}dd;
}

.close-button,
.close-button:hover {
  background: transparent;
}
