* {
  font-family: "Ubuntu Nerd Font";
  font-size: 12px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
*:hover {
  background: transparent;
}
.control-center {
  background: rgba(20, 20, 30, 0.8);
  border: 1px double rgba(200, 200, 200, 1);
  border-radius: 4px;
  padding: 10px;
}
.notification {
  background: rgba(20, 20, 30, 0.8);
  border: 1px double rgba(200, 200, 200, 1);
  border-radius: 4px;
  padding: 8px;
  margin: 0px 0;
}
.notification-body {
  color: #d0d0d0;
}
.notification-icon {
  margin-right: 6px;
}
.notification-background {
  padding: 4px;
}
.notification-title {
  font-weight: bold;
  color: #ffffff;
}
.notification-window {
  background: rgba(20, 20, 30, 0.8);
  border: 1px double rgba(200, 200, 200, 1);
  border-radius: 4px;
  padding: 8px;
}
.notification:hover {
  background: rgba(40, 40, 50, 0.85);
}
.close-button,
.close-button:hover {
  background: transparent;
}
