format = """
$username $directory( [\\[](bold)$git_branch$git_status$git_metrics$git_state[\\]](bold))
$character"""

add_newline = false

[username]
show_always = true
style_user = "fg:{{ .colors.fg }} bold"
format = "[$user]($style)"

[directory]
format = "[$path](fg:{{ .colors.color8 }})"
truncate_to_repo = true
truncation_length = 0
home_symbol = "~"

[git_branch]
symbol = "git:"
format = "([$symbol$branch](fg:{{ .colors.accent }} bold))"

[git_metrics]
added_style = "fg:{{ .colors.color2 }}"
deleted_style = "fg:{{ .colors.color1 }}"
format = "( ([+$added](fg:{{ .colors.color2 }}))([-$deleted](fg:{{ .colors.color1 }})))"
disabled = false
only_nonzero_diffs = true

[git_status]
style = "fg:{{ .colors.accent }}"
staged = "A$count"
modified = "M$count"
deleted = "D$count"
renamed = "R$count"
typechanged = "T$count"
untracked = "?$count"
stashed = "S$count"
ahead = "ahead:$count"
behind = "behind:$count"
diverged = "ahead:$ahead_count behind:$behind_count"
format = "( [$ahead_behind](fg:{{ .colors.color8 }}))( [$all_status](fg:{{ .colors.color8 }}))"

[git_state]
style = "fg:{{ .colors.color3 }}"
format = "( [$state($progress_current/$progress_total)](fg:{{ .colors.color3 }}))"

[character]
success_symbol = "[>](fg:{{ .colors.accent }} bold)"
error_symbol = "[>](fg:{{ .colors.accent }} bold)"
vimcmd_symbol = "[<](fg:{{ .colors.accent }} bold)"

