format = """
$username $directory( [\\[](bold)$git_branch$git_status$git_metrics$git_state[\\]](bold))( $python)$fill( $cmd_duration)
$character
"""

add_newline = false
scan_timeout = 1000

[username]
show_always = true
style_user = "fg:{{ .colors.fg }} bold"
format = "[$user]($style)"

[directory]
format = "[$path](fg:{{ .colors.border }})"
truncate_to_repo = true
truncation_length = 0
home_symbol = "~"

[git_branch]
symbol = ""
format = "([$branch](fg:{{ .colors.accent }} bold))"

[git_metrics]
disabled = false
added_style = "fg:{{ .colors.color2 }}"
deleted_style = "fg:{{ .colors.color1 }}"
format = "( ([+$added](fg:{{ .colors.color2 }}))([-$deleted](fg:{{ .colors.color1 }})))"
only_nonzero_diffs = true

[git_status]
style = "fg:{{ .colors.accent }}"
staged = "A$count"
modified = "M$count"
deleted = "D$count"
renamed = "R$count"
typechanged = "T$count"
untracked = "?$count"
stashed = "S$count"
ahead = "ahead:$count"
behind = "behind:$count"
diverged = "ahead:$ahead_count behind:$behind_count"
format = "( [$ahead_behind](fg:{{ .colors.border }}))( [$all_status](fg:{{ .colors.border }}))"

[git_state]
disabled = true
style = "fg:{{ .colors.color3 }}"
format = "( [$state($progress_current/$progress_total)](fg:{{ .colors.color3 }}))"

[python]
style = "fg:{{ .colors.color4 }} bold"
format = "[\\[](bold)[$virtualenv]($style)[\\]](bold)"

[character]
success_symbol = "[>](fg:{{ .colors.accent }} bold)"
error_symbol = "[>](fg:{{ .colors.accent }} bold)"
vimcmd_symbol = "[<](fg:{{ .colors.accent }} bold)"

[fill]
symbol = ' '

[cmd_duration]
disabled = false
min_time = 2000
format = "[$duration](dimmed)"
